server.port: 8080
spring:
  application:
    name: travel-spring-cloud-gateway
  security:
    oauth2:
      client:
        provider:
          cognito:
            issuer-uri: https://cognito-idp.us-east-1.amazonaws.com/us-east-1_TA0Csivga
            user-info-uri: http://localhost:8082/userInfo
            userNameAttribute: username
        registration:
          cognito:
            authorization-grant-type: authorization_code
            client-id: 4ihhe00gt2jusvej916soa9sv0
            client-secret: kc4shn87ct6v9mbp8mer8dmmu1f1hg9vihilo2h350eh6c5o1sk
            scope: email,openid

  cloud:
    gateway:
      routes:
        - id: httpbin
          uri: https://httpbin.org
          predicates:
            - Path=/httpbin/**
          filters:
            - StripPrefix=1
            - TokenRelay